@import "../../variables";

.coverSection{
    position: relative;
    height: $heightCover;
    
    img{
        width: 100%;
        height: $heightCover;
        object-fit: cover;
        filter: brightness(.5);
    }
    
    .btnCover{
        z-index: 1;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: transparent;
        border: 1px solid white;
        transition-property: background-color;
        transition-duration: .3s;
        
        &:hover{
            background: rgba(255, 255, 255, .15);
        }
        
        &.solid{
            border: 2px solid $accentColorSolid;
            background-color: $accentColorSolid;
            &:hover{
                background-color: rgb(34, 27, 21);
            }
        }
    }
}
