@import "../../variables";

.app .article {
    $codeColor: rgba(0, 0, 0, .25);

    .actionBar{
        margin: 16px;
        padding: 8px 16px;
        background-color: rgba(0, 0, 0, .15);
        border-radius: 8px;

        display: flex;
        justify-content: space-between;


        .actions{
            display: flex;
            
            
            > .iconButton {
                margin: 0 8px;
            }
        }
    }
    
  
    .section {
        padding-top: 0;
        
        h1 {
            color: white;
            margin: 40px 0;
        }

        pre {
            background-color: $codeColor;
            padding: 16px;
            border-radius: 4px;
            line-height: 18px;
        }

        p code {
            background-color: $codeColor;
            padding: 4px 8px;
            margin-bottom: 8px;
            border-radius: 4px;
            line-height: 30px;
        }
    }
}