.iconButton{
    $size: 40px;
    $transitionDuration: .3s;
    width: $size;
    height: $size;
    transition-duration: $transitionDuration;
    transition-property: background-color;
    
    border-radius: 50%;
    cursor: pointer;
    
    &:hover{
        background-color: rgba(255, 255, 255, .1);
        img{
            filter: invert(1);
        }
    }
    
    img{
        filter: invert(0.7);
        
        transition-duration: $transitionDuration;
        transition-property: filter;
        
        position: relative;        
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}