@use "../../variables" as *;
@use "sass:math";

.portfolio{
    $sizeImage: 240px;
    $borderRadius: 4px 4px;
    .projects{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        > div{
            cursor: pointer;
            margin: 16px;
            
            .wrapperImage{
                position: relative;
                border-radius: $borderRadius;
                
                img{
                    border-radius: $borderRadius 0 0;
                    object-fit: cover;
                    object-position: 0 0;
                    width: $sizeImage;
                    height: math.div($sizeImage, 2);
                }

                .buttons{
                    display: flex;
                    border-radius: 0 0 $borderRadius;
                    justify-content: space-around;
                    background-color: $accentColor;
                    position: relative;
                    top: -7px;
                    
                    a{
                        margin: 0 8px;
                        padding: 8px 0;
                        img{
                            $iconSize: 24px;
                            width: $iconSize;
                            height: $iconSize;
                            filter: invert(1);
                        }
                    }
                }
            }
            
            .name{
                margin: 8px 0;
                text-align: center;
                font-weight: bold;
                display: block;
                color: rgba(255, 255, 255, .5);
            }
        }
    }
    
    @media only screen and (min-width: $tabletWidth) {
        .projects {
            justify-content: space-between;
            > div{
                margin: 12px 24px;

                .name{
                    margin: 8px 0;
                }
            }
        }
    }
    
    @media only screen and (min-width: $laptopWidth) {
        .projects > div{
            .wrapperImage {

                width: $sizeImage;
                height: math.div($sizeImage, 2);

            
                img{
                    border-radius: $borderRadius $borderRadius;
                }

            

                .buttons {
                    border-radius: $borderRadius $borderRadius;
                    opacity: 0;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                    position: absolute;
                    background-color: rgba(0, 0, 0, .7);

                    transition-duration: .5s;
                    transition-property: opacity;
                    justify-content: center;
                    align-items: center;
                    
                    a:hover img{
                        filter: invert(.8);
                    }
                }

                &:hover{
                    .buttons{
                        opacity: 1;
                    }
                }
            }
            
            .name:hover{
                color: rgba(255, 255, 255, .8);
            }
        }
    }
    
    @media only screen and (min-width: $desktopWidth) {
        .projects{
            justify-content: start;
        }
    }
}
