.portfolio{
    .projects{
        display: flex;
        flex-wrap: wrap;
        > div{
            margin: 12px 24px;
            cursor: pointer;
            
            .wrapperImage{
                position: relative;
                $borderRadius: 4px;
                $size: 260px;
                
                width: $size;
                height: $size / 2;
                
                img{
                    border-radius: $borderRadius;
                    object-fit: cover;
                    object-position: 0 0;
                    width: $size;
                    height: $size / 2;
                }

                .overlay{
                    display: flex;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;;
                    background-color: rgba(0, 0, 0, .7);
                    position: absolute;
                    border-radius: $borderRadius;
                    justify-content: center;
                    align-items: center;
                    opacity: 0;
                    
                    transition-duration: .5s;
                    transition-property: opacity;
                    
                    a{
                        margin: 0 8px;
                        padding: 4px;
                        img{
                            $iconSize: 24px;
                            width: $iconSize;
                            height: $iconSize;
                            filter: invert(1);
                        }
                        
                        &:hover{
                            img{
                                filter: invert(.8);
                            }
                        }
                    }
                }
                &:hover{
                    .overlay{
                        opacity: 1;
                    }
                }
            }
            
            .name{
                margin: 8px 0;
                text-align: center;
                font-weight: bold;
                display: block;
                color: rgba(255, 255, 255, .5);
                &:hover{
                    color: rgba(255, 255, 255, .8);
                }
            }
        }
    }
}