@import "../../variables";

.skills{
    padding: 24px 48px;
    background: $backgroundSection;
    
    .evaluations {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin-bottom: 24px;

        > * {
            margin: 12px 0;
        }
        h3{
            margin: 12px 0;
        }
        
        .skillGroup {
            margin: 8px 0;
            
            
            .skill {
                margin: 8px 12px;

                .label {
                    display: flex;
                    justify-content: space-between;
                    padding: 4px 0;
                    letter-spacing: 1px;
                    font-size: .8rem;

                    .evaluation {
                        color: rgba(255, 255, 255, .4);
                        font-size: 12px;
                    }
                }
            }
        }
    }
    @media only screen and (min-width: $tabletWidth) {
        .evaluations{
            max-height: 600px;
            
            .skillGroup{
                width: 30vw;
                
                .skill{
                    &:hover {
                        .label .evaluation {
                            display: block;
                        }

                        .slider {
                            border: 1px solid $lightAccentColor;

                            .fulfillment {
                                background: $lightAccentColor;
                            }
                        }
                    }
                    
                    .label .evaluation{
                        display: none;
                    }
                }
            }
        }
    }
}