@import '../../variables';

.about {
    padding: 24px 48px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
    .title {
        margin: 24px 0;
        width: 100%;
        
        h1, h6 {
            margin: 0;
            font-weight: bold;
        }

        h1 {    
            color: black;
        }

        h6 {
            color: $colorFont;
        }
    }
    
    $border-radius: 4px; 
    .picture{
        padding: 2px;
        border: 1px solid grey;
        border-radius: $border-radius;
        margin-right: 16px;
        
        img{
            filter: brightness(.6);
            width: 320px;
            border-radius: $border-radius;
        }
    }
    
    .texts{
        max-width: 50%;
    }
    
    .infos{
        justify-content: space-between;
        padding-top: 24px;
        .info{
            padding: 4px 0;
            span{
                &:first-child{
                    font-weight: 600;
                }
                
                &:last-child{
                    margin-left: 4px;
                }
            }
        }
    }
    
    .actions{
        padding: 16px 0;
    }
}