@import "../../../variables";

.btn{
    border: none;
    background-color: rgba(53, 41, 31, 0.8);
    text-transform: uppercase;
    padding: 16px 24px;
    border-radius: 24px;
    cursor: pointer;
    color: white;
    letter-spacing: .5px;
    font-weight: bold;
    font-size: 14px;
    font-style: initial;
    text-decoration: none;
    
    
    &:hover{
        background-color: rgba(34, 27, 21, 0.8);
    }
}