.alert{
    padding: 8px 16px;
    align-self: center;
    color: white;
    white-space: nowrap;
    width: 100%;
    text-align: center;
    font-size: .95rem;

    transition-duration: .7s;
    transition-property: width;
    
    &.success{
        background-color:  green;
    }
    
    &.error{
        background-color: darkred;
    }
    
    &.hidden{
        display: none;
        opacity: 0;
        width: 0;
        overflow: hidden;
    }
    
}