@import "../../variables";

.contactForm{
    width: 100%;
    .action{
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        
        :nth-child(2){
            margin: 16px 0;
        }
    }
    
    @media only screen and (min-width: $laptopWidth) {
        .action{
            justify-content: space-between;
            flex-wrap: nowrap;
            
            :nth-child(2){
                margin: 0 8px;
            }
        }
    }
}