@import "../../variables";

.contactForm{
    width: 100%;
    .action{
        text-align: right;
    }
    
    @media only screen and (min-width: $laptopWidth) {
        .action{
            text-align: left;
        }
    }
}