@use "../../variables" as *;

.contact{

    .contactBody{
        
        display: flex;
        flex-wrap: wrap;
        >*{
            display: inline;
        }
        
        .information{
            margin-bottom: 8px;
            div{
                padding: 8px 0;
                >*{
                    &:first-child{
                        font-weight: bold;
                        padding-right: 4px;
                        font-size: 13px;
                    }
                }
            }
        }
    }
    
    @media only screen and (min-width: $tabletWidth) {
        
        .contactBody{
            flex-direction: row-reverse;
            justify-content: space-between;
            flex-wrap: nowrap;
            > *{
                width: 45%;
            }
            
        }
    }
}
