@import "../../../variables";

$heightSlider: 8px;
.slider {
    height: $heightSlider;
    border: 1px solid $accentColor;
    border-radius: $radiusBorder;
    
    .fulfillment{
        line-height:$heightSlider;
        background: $accentColor;
        border-radius: $radiusBorder;
    }
    
}