@import "../../variables";


.sidebar {
    $color: #888;
    width: $widthSideBar;
    
    background: #111;
    color: $color;

    display: flex;
    flex-direction: column;
    justify-content: space-around;

    position: fixed;
    height: 100%;
    z-index: 3;
    
    &.hide {
        .title,.menu,.socialMedia{
            display: none;
        }

        height: unset;
    }


    .iconMenu{ 
        align-self: flex-end;
        position: absolute;
        
        $alignment: 8px;
        top: $alignment;
        right: $alignment * 1.5;
        z-index: 9;
    }

    .title {
        text-align: center;
        margin: 16px;

        > * {
            padding: 4px;
            text-transform: uppercase;

            &:first-child {
                color: white;
                font-size: 2rem;
            }

            &:last-child {
                letter-spacing: 1px;
            }
        }
    }

    .menu {
        display: flex;
        flex-direction: column;

        $horizontalMargin: 24px;

        > * {
            margin: 0 $horizontalMargin;
            padding: 16px 0;
            width: calc(100% - #{$horizontalMargin * 2});
            border-bottom: rgba(255, 255, 255, .1) solid 1px;
            text-transform: uppercase;
            font-size: .9rem;
            cursor: pointer;

            transition-duration: .15s;
            transition-property: color, border-bottom-color;
            color: $color;
            
            &:hover, &.active {
                color: white;
                border-bottom-color: rgba(255, 255, 255, .2);
            }
        }
    }

    .socialMedia {
        display: flex;
        justify-content: center;

        > * {
            padding: 8px;
            cursor: pointer;
            img {
                height: 20px;
            }

            &:hover img{
                filter: invert(.8);
            }
        }
    }



    @media only screen and (min-width:$tabletWidth) {
        position: relative;
        align-items: center;
        height: unset;
        justify-content: flex-end;

        .title{
            margin: 36px 0 12px;

            > * {
                &:first-child {
                    font-size: 1.5rem;
                }
                &:nth-child(2){
                    font-size: .8rem;
                }
            }
        }
        
        .menu{
            margin: 12px 0;
            >*{
                border-bottom: none;
            }
        }
        
        &.hide{
            .title,.menu{
                display: unset;
            }
        }
        
        .iconMenu{
            display: none;
        }
    }
}
