$heightAvatarImage: 160px;
@import "../../variables";

.avatar{
  position: absolute;
  
  top: calc(#{$heightCover} - #{$heightAvatarImage / 2});
  left: calc((#{$widthBody} / 2) + #{$widthSideBar} - #{$heightAvatarImage / 2});
  
  img{
    width: $heightAvatarImage;
    border-radius: 50%;
    box-shadow: 5px 8px 10px 0 grey;
  }
}