@import './variables';

.app {
  height: 100vh;
  width: 100vw;

  display: flex;


  font-family: Biotif, sans-serif;

  div, span {
    font-weight: normal;
  }

  h1, h2 {
    font-weight: bold;
    margin: 0;
    color: #888888;
  }

  color: $colorFont;
  background-color: $backgroundBody;
}

.section {
  padding: 24px 48px;


  .title {
    margin: 24px 0;

    h1, h6 {
      margin: 0;
      font-weight: bold;
    }

    h1 {
      color: $colorHeadLine
    }

  }
}