@use './variables' as *;

.app {
    height: 100vh;
    width: 100vw;

    display: flex;
    flex-direction: column;

    font-family: Biotif, sans-serif;

    div, span {
        font-weight: normal;
    }

    h1, h2 {
        font-weight: bold;
        margin: 0;
        color: #888888;
    }

    color: $colorFont;
    background-color: $backgroundBody;
    
    @media only screen and (min-width: $laptopWidth) {
        flex-direction: row;
    }
}

.section {
    $basePadding: 16px;
    padding: $basePadding $basePadding*2;

    .title {
        margin: $basePadding 0;

        h1, h6 {
            margin: 0;
            font-weight: bold;
        }

        h1 {
            color: $colorHeadLine
        }
    }
    
    @media only screen and (min-width: $tabletWidth) {
        $basePadding: 12px;
        padding: $basePadding * 2 $basePadding * 4;

        .title {
            margin: $basePadding * 2 0;
        }
    }
}


.btn{
    border: none;
    background-color: $accentColor;
    text-transform: uppercase;
    padding: 16px 24px;
    border-radius: $radiusBorder;
    cursor: pointer;
    color: white;
    letter-spacing: .5px;
    font-weight: bold;
    font-size: 14px;
    font-style: initial;

    white-space: nowrap;
    
    &:hover{
        background-color: rgba(34, 27, 21, 0.8);
    }
}

.article, .body{
    width: $widthBody;
    max-width: $widthBody;
    overflow-x: hidden;
}

a {
    color: #e29e68;
    text-decoration: none;
    font-weight: 400;
}

img.icon{
   filter: invert(.8); 
}
