$widthSideBar: 300px;
$widthBody: calc(100% - #{$widthSideBar});

$heightCover: 28vh;

$colorHeadLine: #ccc;
$colorFont: #aaa; // rgba(34, 27, 21, 0.8);
$accentColor: rgba(53, 41, 31, 0.8);
$accentColorSolid: rgb(53, 41, 31);
$lightAccentColor: rgba(53, 41, 31, 0.9);
$darkAccentColor: rgba(53, 41, 31, 0.3);

$backgroundBody: #161616;
$backgroundBodyHover: #131313;
$backgroundSection: #080808;
$radiusBorder: 2px;